{% for section in sections %}
    
    {% if section.sectionCategory.id == "1" %}
        {% for article in section.articles %}
            <section class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{section.title}}
                        <span class="text-muted">{{article.title}}</span>
                    </h2>
                    <p class="lead">{{article.description}}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    </img>
                </div>
            </section>

        <hr class="featurette-divider">
        {% endfor %}
    
    {% elseif section.sectionCategory.id == "3"%}

    <!-- Three columns to show the employees -->
    
        <section class="row">
                <h2 class="featurette-heading mb-5">{{section.title}}</h2>
            {% for article in section.articles %}
                {% if article.section.sectionCategory.id == "3" %}
                    <article class="col-lg-4">
                        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="rounded-circle" width="140" height="140"></img>

                        <h2>{{article.title}}</h2>
                        <p>{{article.description}}</p>

                    </article><!-- /.col-lg-4 -->
                {% endif %}
            {% endfor %}
        </section>
        <hr class="featurette-divider">


    {% elseif section.sectionCategory.id == "2"%}
        {% for article in section.articles %}
        <section class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">{{section.title}}
                    <span class="text-muted">{{article.title}}</span>
                </h2>
                <p class="lead">{{article.description}}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="featurette-image img-fluid mx-auto" width="500"
                height="500" role="img"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                </img>
            </div>
        </section>
        {% endfor %}
        <hr class="featurette-divider">

    {% endif %}

{% endfor %}