{% for section in sections %}
    
    {% if section.sectionCategory.id == "1" %}
        {% for article in section.articles %}
            <section class="row featurette">
                <div class="col-md-7" 
                    data-aos="fade-right" 
                    data-aos-duration="1000">

                    <h2 class="featurette-heading">{{section.title}}
                        <span class="text-muted">{{article.title}}</span>
                    </h2>
                    <p class="lead">{{article.description}}</p>
                </div>
                <div class="col-md-5" 
                    data-aos="fade-left" 
                    data-aos-duration="1000">

                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{article.imgAlt}}"
                     loading="lazy" class="featurette-image img-fluid mx-auto" width="500" height="500">
                    </img>
                </div>
            </section>

        <hr class="featurette-divider">
        {% endfor %}
    
    {% elseif section.sectionCategory.id == "3"%}

    <!-- Three columns to show the employees -->
    
        <section class="row">
                <h2 class="featurette-heading mb-5">{{section.title}}</h2>
            {% for article in section.articles %}
                {% if article.section.sectionCategory.id == "3" %}
                    <article class="col-lg-4">
                        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{article.imgAlt}}"
                         loading="lazy" class="rounded-circle" width="140" height="140"></img>

                        <h2>{{article.title}}</h2>
                        <p>{{article.description}}</p>

                    </article><!-- /.col-lg-4 -->
                {% endif %}
            {% endfor %}
        </section>
        <hr class="featurette-divider">


    {% elseif section.sectionCategory.id == "2"%}
        {% for article in section.articles %}
        <section class="row featurette">
            <div class="col-md-7 order-md-2" 
                data-aos="zoom-in-up" 
                data-aos-duration="1000" 
                data-aos-anchor-placement="top-bottom">

                <h2 class="featurette-heading">{{section.title}}
                    <span class="text-muted">{{article.title}}</span>
                </h2>
                <p class="lead">{{article.description}}</p>
            </div>
            <div class="col-md-5 order-md-1" 
                data-aos="zoom-in-down" 
                data-aos-duration="1500" 
                data-aos-anchor-placement="top-bottom">
                
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{article.imgAlt}}"
                 loading="lazy" class="featurette-image img-fluid mx-auto" width="500" height="500">
                </img>
            </div>
        </section>
        {% endfor %}
        <hr class="featurette-divider">

    {% endif %}

{% endfor %}