{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Utilisateurs</h1>

    <a class="btn btn-primary" href="/admin/users/new">
        Créer
    </a>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Email</th>
            <th scope="col">Rôles</th>
            <th scope="col">Modifier</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td style="display: flex; gap: 5px">
                    <a
                        class="btn btn-secondary"
                        href="{{ path('app_users_edit', {'id': user.id}) }}"
                    >
                        <i class="fas fa-edit"></i>
                    </a>

                    {{ include('admin/users/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun utilisateur</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
