{% extends 'admin/base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Images</h1>

        <a class="btn btn-primary" href="/admincarbonelampe/gallery/new">
            Ajouter
        </a>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Fichier</th>
                <th scope="col">Image Vich</th>
                <th scope="col">Nom d'image alternatif</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for gallery in galleries %}
                <tr>
                    <td>{{ gallery.id }}</td>
                    <td>{{ gallery.url }}</td>
                    <td>{{ gallery.imageName }}</td>
                    <td>{{ gallery.imgAlt }}</td>
                    <td style="display: flex; gap: 5px">
                        <a
                            class="btn btn-secondary"
                            href="{{ path('admin_gallery_edit', {'id': gallery.id}) }}"
                        >
                            <i class="fas fa-edit"></i>
                        </a>

                        {{ include('admin/gallery/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune image</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
