{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/home.css">
{% endblock %}

{% block body %}

<div class="container mt-5">
  <div class="row my-5 py-5">
    <h1 class="text-center text-lg-start mt-5 mb-0">Galerie</h1>
    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start flex">
        <!-- Loop the select the gallery table -->
        {% for gallery in galleries %}
          <div class="col-lg-3 col-md-4 col-6">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{ gallery.id }}">
              {% if gallery.url != NULL %}

                <img class="img-fluid img-thumbnail" src="/images/{{gallery.url}}.jpg">

              {% elseif gallery.url == NULL %}

                <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(gallery, 'imageFile') }}">

              {% endif %}
            </button>
          </div>

        <!-- Modal -->
          <div class="modal fade" id="modal-{{ gallery.id }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    {% if gallery.url != NULL %}

                      <img class="img-fluid img-thumbnail" src="/images/{{gallery.url}}.jpg" alt="image de gallerie">

                    {% elseif gallery.url == NULL %}

                      <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(gallery, 'imageFile') }}" alt="image de gallerie">

                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>

  <hr class="featurette-divider">

</div>  


{% endblock %}